/* remove flashing errors */
form.ng-pristine .form-error-list {
    display: none;
}
form.ng-dirty .form-error-list {
    display: block;
}
.ng-required label:after {
    content: " *";
    color: #a94442;
}
/* to keep the same design using ui-select/select2 theme*/
.select2-container {
  min-width: 100%;
}
.form-vertical .formalizer-element-lcheckbox {
  margin-right: 8px !important;
}
.form-horizontal .formalizer-element-lcheckbox {
  margin-top: -2px !important;
}
.form-inline .formalizer-element-lcheckbox {
  margin-top: -8px !important;
}
.form-inline .formalizer-element-checkbox {
  margin-right: 8px !important;
}
