<div {{container.attrs_text}}>
  <label for="{{element.attrs.id}}" class="{{label.class}}" ng-bind-html-and-compile="$field.label"></label>
  <div class="{{element.container.class}}">
    <div class="{{element.wrap.class}}">
      <!-- theme="bootstrap" -->
      <ui-select {{element.attrs_text}}>
        <ui-select-match placeholder="{{placeholder || ""}}">\{\{$select.selected{{source_display? "." + source_display : source_display}}\}\}</ui-select-match>
        <ui-select-choices repeat="data{{source_model ? "." + source_model: source_model}} as data in $configuration.source | filter: $select.search">
          <span ng-bind-html="data{{source_display? "." + source_display : source_display}} | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>
    </div>

    <div class="help-block formalizer-help {{element.offset}} {{element.size}}" ng-bind-html-and-compile="$field.help" ng-show="$field.help"></div>
    <div class="help-block formalizer-error-list {{element.offset}} {{element.size}}" ng-formalizer-errors="'{{element.attrs.name}}'" messages="$field.messages"></div>

  </div>
</div>
