<ul class="formalizer-error-messages" ng-show="$messages !== false && $formalizer.form[$field.name].$error">
  <li ng-show="$formalizer.form[$field.name].$dirty && $formalizer.form[$field.name].$error.required">{{$messages.required || 'Field is required'}}</li>
  <li ng-show="$formalizer.form[$field.name].$error.min">{{$messages.min || 'Field minimum is '+ $configuration.element.attrs['min'] }}</li>
  <li ng-show="$formalizer.form[$field.name].$error.max">{{$messages.max || 'Field maximum is '+ $configuration.element.attrs['max']}}</li>
  <li ng-show="$formalizer.form[$field.name].$error.minlength">{{$messages.minlength || 'Field is required to be at least '+ $configuration.element.attrs['ng-minlength'] + ' characters'}}</li>
  <li ng-show="$formalizer.form[$field.name].$error.maxlength">{{$messages.maxlength || 'Field cannot be longer than ' + $configuration.element.attrs['ng-maxlength'] + ' characters'}}</li>
  <li ng-show="$formalizer.form[$field.name].$error.number">{{$messages.number || 'Field is an invalid number'}}</li>
  <li ng-show="$formalizer.form[$field.name].$error.email">{{$messages.email || 'Field is an invalid email'}}</li>
  <li ng-show="$formalizer.form[$field.name].$error.url">{{$messages.url || 'Field is an invalid URL'}}</li>
  <li ng-show="$formalizer.form[$field.name].$error.blacklist">{{$messages.blacklist || 'Field value is blacklisted'}}</li>
  <li ng-show="$formalizer.form[$field.name].$error['equal-to']">{{$messages['equal-to'] || 'Field must be equal to: X'}}</li>
  <li ng-show="$formalizer.form[$field.name].$error['only-alpha']">{{$messages['only-alpha'] || 'Field must contains only letters'}}</li>
  <li ng-show="$formalizer.form[$field.name].$error['only-iso']">{{$messages['only-iso'] || 'Valid characters are: A-Z, a-z, 0-9'}}</li>
  <li ng-show="$formalizer.form[$field.name].$error['one-upper']">{{$messages['one-upper'] || 'At least one uppercase'}}</li>
  <li ng-show="$formalizer.form[$field.name].$error['one-lower']">{{$messages['one-lower'] || 'At least one lowercase'}}</li>
  <li ng-show="$formalizer.form[$field.name].$error['one-number']">{{$messages['one-number'] || 'At least one number'}}</li>
  <li ng-show="$formalizer.form[$field.name].$error['one-alpha']">{{$messages['one-alpha'] || 'At least one letter'}}</li>
  <li ng-show="$formalizer.form[$field.name].$error['server-validation']">{{$messages['server-validation'] || 'Server validation fails'}}</li>
  <li ng-show="$formalizer.form[$field.name].$error['length']">{{$messages['length'] || 'Field length must be exactly ' + $configuration.element.attrs['ng-length'] }}</li>
  <li ng-show="$formalizer.form[$field.name].$error['decimals']">{{$messages['decimals'] || 'Maximum decimals exceeded: '+ $configuration.element.attrs['ng-decimals'] }}</li>
  <li ng-show="$formalizer.form[$field.name].$error['no-decimals']">{{$messages['no-decimals'] || 'Cannot contain decimals ' + $configuration.element.attrs['ng-no-decimals'] }}</li>
  <li ng-show="$formalizer.form[$field.name].$error['pattern']">{{$messages['pattern'] || 'Invalid pattern match'}}</li>
  <li ng-show="$formalizer.form[$field.name].$error['date']">{{$messages['date'] || 'Invalid date'}}</li>
</ul>
