<div {{container.attrs_text}}>
  <label for="{{element.attrs.id}}" class="{{label.class}}" ng-bind-html-and-compile="$field.label"></label>
  <div class="{{element.container.class}}">
    <p class="{{element.wrap.class}}">
        {{element.left}}
        <div slider {{element.attrs_text}} />
        {{element.right}}
        <!-- hide an input with the value ?! -->
    </p>

    <div class="help-block formalizer-help {{element.offset}} {{element.size}}" ng-bind-html-and-compile="$field.help" ng-show="$field.help"></div>
    <div class="help-block formalizer-error-list {{element.offset}} {{element.size}}" ng-formalizer-errors="'{{element.attrs.name}}'" messages="$field.messages"></div>

  </div>
</div>
