<div class="{{container.class}}" ng-class="{ 'has-error' : (%scope-form-name%['{{element.attrs.name}}'].$invalid == true) }" ng-show="$field.formalizer.visible">
  <label for="{{element.attrs.name}}" class="{{label.class}}" ng-compile="" ng-bind-html="$field.label"></label>
  <div class="{{element.container.class}}">
    <p class="{{element.wrap.class}}">
        {{element.left}}
        <div slider %element-attributes% />
        {{element.right}}
        <!-- hide an input with the value ?! -->
    </p>

    <div class="help-block" ng-compile="" ng-bind-html="$field.help"></div>

    %element-error-list%

  </div>
</div>
