<div {{container.attrs_text}}>
  <label class="{{label.class}}" ng-bind-html-and-compile="$field.label"></label>
  <div class="{{element.container.class}}">
    <div class="{{element.wrap.class}}" ng-repeat="radio_data in $configuration.source">
      <label for="{{element.attrs.id}}-\{\{$index\}\}">
        <input name="{{element.attrs.name}}" id="{{element.attrs.id}}-\{\{$index\}\}" value="\{\{radio_data{{source_model}}\}\}" {{element.attrs_text}}>
        \{\{radio_data['{{source_display}}']\}\}
      </label>
    </div>

    <div class="help-block formalizer-help {{element.offset}} {{element.size}}" ng-bind-html-and-compile="$field.help" ng-show="$field.help"></div>
    <div class="help-block formalizer-error-list {{element.offset}} {{element.size}}" ng-formalizer-errors="'{{element.attrs.name}}'" messages="$field.messages"></div>

  </div>
</div>
