<div {{container.attrs_text}}>
  <div class="{{element.container.class}}">
    <label for="{{element.attrs.id}}" class="{{label.class}}">
      <input {{element.attrs_text}} /><span ng-bind-html-and-compile="$field.label"></span>
    </label>

    <div class="help-block formalizer-help {{element.offset}} {{element.size}}" ng-bind-html-and-compile="$field.help" ng-show="$field.help"></div>
    <div class="help-block formalizer-error-list {{element.offset}} {{element.size}}" ng-formalizer-errors="'{{element.attrs.name}}'" messages="$field.messages"></div>
  </div>
</div>
