<div {{container.attrs_text}}>
  <div>
    <label for="{{element.attrs.id}}" class="{{label.class}}" ng-compile="" ng-bind-html="$field.label"></label>
    <div class="{{element.container.class}}">
      <div class="{{element.wrap.class}}">
          {{element.left}}
          <input {{element.attrs_text}} />
          {{element.right}}
      </div>
    </div>
    <div class="help-block" ng-compile="" ng-bind-html="$field.help" ng-show="$field.help"></div>

    <div ng-formalizer-errors="'{{element.attrs.name}}'" messages="$field.messages"></div>
  </div>
  <div class="clearfix"></div>
</div>
