<div {{container.attrs_text}}>
  <label for="{{element.attrs.id}}" class="{{label.class}}" ng-compile="" ng-bind-html="$field.label"></label>
  <div class="{{element.container.class}}">
    <div class="{{element.wrap.class}}">
        <input {{element.attrs_text}} />
        <span class="help-block" ng-compile="" ng-bind-html="$field.help" ng-show="$field.help"></span>
    </div>

    <div ng-formalizer-errors="'{{element.attrs.name}}'" messages="$field.messages"></div>
  </div>
  <div class="clearfix"></div>
</div>
