<div {{container.attrs_text}}>
  <label for="{{element.attrs.id}}" class="{{label.class}}" ng-compile="" ng-bind-html="$field.label"></label>
  <div class="{{element.container.class}}">
    <p class="{{element.wrap.class}}">

    <ul class="formalizer-typeahead-muli formalizer-typeahead-muli-selected">
      <li ng-repeat="obj in taSelected({{element.attrs["ong-model"]}})">
        <span>\{\{obj[$field.source_display]\}\} <a ng-click="taRemove(obj, {{element.attrs["ong-model"]}})"><span class="glyphicon glyphicon-trash"></span></a></span>
      </li>
    </ul>


    </p>
    <p class="{{element.wrap.class}}">
        {{element.left}}
        <input {{element.attrs_text}} />
        {{element.right}}
    </p>

    <div class="help-block" ng-compile="" ng-bind-html="$field.help" ng-show="$field.help"></div>

    <div ng-formalizer-errors="'{{element.attrs.name}}'" messages="$field.messages"></div>
  </div>
</div>
