<div class="{{container.class}}" ng-class="{ 'has-error' : (%scope-form-name%['{{element.attrs.name}}'].$invalid == true) }" ng-show="$field.formalizer.visible">
  <label for="{{element.attrs.name}}" class="{{label.class}}" ng-bind="$field.label"></label>
  <div class="{{element.container.class}}">
    <div class="{{element.wrap.class}}">
        <div text-angular %element-attributes%></div>
    </div>

    <div class="help-block" ng-bind="$field.help"></div>

    %element-error-list%

  </div>
</div>
