<div class="{{container.class}}" ng-class="{ 'has-error' : (%scope-form-name%['{{element.attrs.name}}'].$invalid == true) }" ng-show="$field.formalizer.visible">
  <label class="{{label.class}}" ng-bind="$field.label"></label>
  <div class="{{element.container.class}}">
    <div class="{{element.wrap.class}}" ng-repeat="radio_data in $field.formalizer.source">
      <label for="{{element.attrs.name}}-\{\{$index\}\}">
        <input name="{{element.attrs.name}}" id="{{element.attrs.id}}-\{\{$index\}\}" value="\{\{radio_data{{source_model}}\}\}" %element-attributes%>
        \{\{radio_data['{{source_display}}']\}\}
      </label>
    </div>

    <div class="help-block" ng-bind="$field.help"></div>

    %element-error-list%

  </div>
</div>
