<div {{container.attrs_text}}>
  <label for="{{element.attrs.id}}" class="{{label.class}}" ng-compile="" ng-bind-html="$field.label"></label>
  <div class="{{element.container.class}}">
    <p class="{{element.wrap.class}}">
        {{element.left}}
        <div slider {{element.attrs_text}} />
        {{element.right}}
        <!-- hide an input with the value ?! -->
    </p>

    <div class="help-block" ng-compile="" ng-bind-html="$field.help"></div>

    <div ng-formalizer-errors="'{{element.attrs.name}}'" messages="$field.messages"></div>
  </div>
</div>
