<div class="{{container.class}}" ng-class="{ 'has-error' : (%scope-form-name%['{{element.attrs.name}}'].$invalid == true) }">
  <label for="{{element.attrs.name}}" class="{{label.class}}" ng-bind="$field.label"></label>
  <div class="{{element.container.class}}">
    <p class="{{element.wrap.class}}">

    <ul>
      <li ng-repeat="obj in entity.ta_list">
        <span>\{\{obj.name\}\} <a ng-click="{{options.del_fn}}(obj)"><span class="glyphicon glyphicon-trash"></span></a></span>
      </li>
    </ul>

    </p>
    <p class="{{element.wrap.class}}">
        {{element.left}}
        <input %element-attributes% />
        {{element.right}}
    </p>

    <div class="help-block" ng-bind="$field.help"></div>

    %element-error-list%

  </div>
</div>
