<div {{container.attrs_text}}>
  <label class="{{label.class}}" ng-bind-html-and-compile="$field.label"></label>
  <div class="{{element.container.class}}">
    <div ng-show="$field.options.select_all">
      <label for="{{element.attrs.id}}-select-all">
        <input name="{{element.attrs.name}}-select-all" id="{{element.attrs.id}}-select-all" value="true" ng-checked="{{element.attrs['checklist-model']}}.length == $field['$$'].source.length" type="checkbox" ng-model="{{options.chkall_model}}" ng-change="$configuration.$check_all($event)" />
        Select All
      </label>
    </div>

    <div class="{{element.wrap.class}}" ng-repeat="checkbox_data in $configuration.source">
      <label for="{{element.attrs.id}}-\{\{$index\}\}">
        <input name="{{element.attrs.name}}-\{\{$index\}\}" id="{{element.attrs.id}}-\{\{$index\}\}" {{element.attrs_text}}>
        \{\{checkbox_data['{{source_display}}']\}\}
      </label>
    </div>
  </div>

  <div class="help-block formalizer-help {{element.offset}} {{element.size}}" ng-bind-html-and-compile="$field.help" ng-show="$field.help"></div>

</div>
