<div {{container.attrs_text}}>
  <label class="{{label.class}}" ng-compile="" ng-bind-html="$field.label"></label>
  <div class="{{element.container.class}}">

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th ng-repeat="label in $field.formalizer.source_display[0]" ng-compile="" ng-bind-html="label">
      </th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="(yidx, second_level) in $field.formalizer.source_display[1]">
      <th>
        \{\{$field.formalizer.source_display[1][yidx]\}\}
      </th>

      <td ng-repeat="(xidx, first_level) in $field.formalizer.source_display[0]">
        <input name="{{options.name}}-\{\{first_level\}\}-\{\{$index\}\}"
        id="{{options.id}}-\{\{first_level\}\}-\{\{$index\}\}"
        ng-model="{{options.model}}[$field.formalizer.source_model[0][xidx]][$field.formalizer.source_model[1][yidx]]"
        %element-attributes% />
      </td>
    </tr>
  </tbody>
</table>

<!--
<pre>
\{\{$field.formalizer | json\}\}
\{\{$field.model | json\}\}
</pre>
-->
    <div class="help-block" ng-compile="" ng-bind-html="$field.help"></div>

  </div>
</div>
