<div class="{{container.class}}">
  <label for="{{element.attrs.name}}" class="{{label.class}}" ng-bind="$field.label"></label>
  <div class="{{element.container.class}}">
    <p class="{{element.wrap.class}}">

    <ul>
      <li ng-repeat="obj in entity.ta_list">

        <span>\{\{obj.name\}\} <a ng-click="{{options.del_fn}}(obj)"><img src="/trash.png" /></a></span>
      </li>
    </ul>

    </p>
    <p class="{{element.wrap.class}}">
        {{element.left}}
        <input %element-attributes% />
        {{element.right}}
    </p>
    <p class="help-block">{{help.text}}</p>

    %element-error-list%

  </div>
</div>